/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background-color: #000;
  color: #fff;
}

.navbar {
  background-color: #000000;
  color: #fff;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.logo-icon {
  font-size: 18px;
  margin-left: 4px;
}

.nav-links {
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding-bottom: 2px;
}

.nav-links a.active {
  border-bottom: 1px solid #fff;
}

.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-container input {
  padding: 6px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

.search-btn {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
}

.cart-icon {
  font-size: 20px;
}

.hero-section {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 60px;
}

.hero-content {
  color: #fff;
  max-width: 500px;
}

.subheading {
  font-size: 24px;
  margin-bottom: 10px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 30px;
}

.cta-button {
  background-color: #ffc107;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  color: black;
  border-radius: 30px;
  cursor: pointer;
}
