/* === HERO SECTION === */
.hero-section {
  background-image: url("../assets/images/background.png");
  background-size: cover;
  background-position: center;
  min-height: 90vh;
  display: flex;
  align-items: center;
  padding: 0 5%;
  position: relative;
}

.hero-content {
  max-width: 500px;
  color: #fff;
}

.cta-button {
  background-color: #ffc107;
  border: none;
  padding: 17px 45px;
  font-size: 1rem;
  cursor: pointer;
  letter-spacing: -0.25px;
  border-radius: 30px;
  transition: background-color 0.3s ease;
  font-size: 0.85rem;
  font-weight: 600;
}

.hero-content h1 {
  letter-spacing: -1px;
  font-weight: 600;
  font-size: 5rem;
  white-space: nowrap;
  margin-bottom: 20px;
  line-height: 1.2;
}

.hero-content .subheading {
  font-weight: 350;
  font-size: 2rem;
  margin-bottom: 10px;
}

.cta-button:hover {
  background-color: #e6ac00;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2.2rem;
    margin-bottom: 15px;
  }

  .hero-content .subheading {
    font-size: 1.1rem;
  }

  .cta-button {
    padding: 15px 35px;
  }
}
