* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

main {
  background-color: #ffffff;
  color: #000000;
}

/* Product Results */
.product-results {
  padding: 40px 5%;
  text-align: center;
}

.product-results h2 {
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 50px;
}

.product-results p {
  font-weight: 300;
  letter-spacing: -0.5px;
}

.search-label {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 8px;
}

.search-query {
  font-size: 2rem;
  margin-bottom: 6px;
}

.result-count {
  font-size: 0.9rem;
  color: #888;
  margin-bottom: 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;
  justify-content: center;
  padding: 0 5%;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.product-card a {
  text-decoration: none; /* Removes underline */
  color: black; /* Changes blue link text to black */
}

.product-card img {
  width: 100%;
  max-width: 400px;
  border-radius: 6px;
  margin-bottom: 12px;
  transition: transform 0.3s ease;
  border-radius: 4px;
}

.product-card:hover img {
  transform: scale(1.05);
}

.product-card h3 {
  font-size: 1rem;
  margin-bottom: 4px;
  text-align: center;
}

.product-card p {
  font-size: 0.9rem;
  color: #444;
}

@media (max-width: 768px) {
  .product-card img {
    width: 100%;
    max-width: 300px;
    border-radius: 6px;
    margin-bottom: 12px;
    transition: transform 0.3s ease;
    border-radius: 4px;
  }

  .product-card h3 {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .product-card p {
    font-size: 0.75rem;
  }
}
